body{
  background: radial-gradient(circle at top, hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}
.App{
  display: flex;
  justify-content: center;
}
.Score{
  display: flex;
  margin: 2rem;
  padding: 0.5rem;
  width: 13rem;
  border: 3px solid rgb(67, 98, 120);
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.Score_label{
  display: flex;
  width: 30%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  align-items: center;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.Score_label span{
  margin: -0.2rem;
  font-size: 0.7rem;
  color: rgb(83, 83, 225);
}
.Score_label span:last-child{
  color: rgb(85, 85, 85);
  font-size: 2rem;
}